.logo img {
    width: 164px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "sans-serif";
}

.right ul {
    display: flex;
    gap: 34px;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right ul li span {
    padding: 0 5px;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;
}

.first span {
    font-size: 40px;
    ;
}

.first span img {
    cursor: pointer;
}

section div {
    font-family: sans-serif;
}

.first p {
    font-size: 23px;
    width: 58vw;
    text-align: center;
}



.btn {
    background-color: #09a6bd;
    border-radius: 6px;
    padding: 12px 20px;
    color: white;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.green {
    background-color: #5cb85c;
}

.first button:hover {
    background-color: #0c94ce;

}

.flex {
    display: flex;
}

.small {
    font-size: 12px;
}

.second {
    max-width: 70vw;
    margin: auto;
}

.item {
    padding: 23px;
    background-color: #f9f9f9;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
}

.item-lang {
    font-weight: 700;
    text-align: center;
    padding-bottom: 36px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.download :nth-child(2) {
    font-size: 23px;
    display: flex;


}

.download {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: sans-serif;
}

.download img {
    margin: 15px;
}

@media screen and (max-width: 1145px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
    }
}